<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="filterrow">
    <div class="dropdown-wrapper" #dropdownmenu [class.isOpen]="isOpen">
      <div (click)="toggle()" class="filterOption">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="pi pi-filter"></i></button>
      </div>

      <div class="custom-dropdown filterbody" [class.show]="isOpen">
        <div class="row">
          <div class="col-md-3">
            <span>Username</span>
            <p-multiSelect [options]="cities" [panelStyle]="{minWidth:'12em'}" [style]="{minWidth:'12em'}" (onChange)="usernamechange($event)"></p-multiSelect>

          </div>
          <div class="col-md-3">
            <span>EventType</span>
            <p-multiSelect [options]="cities" [panelStyle]="{minWidth:'12em'}" [style]="{minWidth:'12em'}" (onChange)="eventtypechange($event)"></p-multiSelect>
          </div>
          <div class="col-md-3">
            <span>Application Name</span>
            <p-multiSelect [options]="cities" [panelStyle]="{minWidth:'12em'}" [style]="{minWidth:'12em'}" (onChange)="applicationnamechange($event)"></p-multiSelect>
          </div>
          <div class="col-md-3">
            <span>Date</span>
            <p-multiSelect [options]="cities" [panelStyle]="{minWidth:'12em'}" [style]="{minWidth:'12em'}" (onChange)="onChange($event)"></p-multiSelect>
          </div>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
